input {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  /* AddNewComment.css */
  input {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #008CBA;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  /* AddNewPhoto.css */
  input {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #f44336;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  /* AddNewPost.css */
  input {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #2196F3;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  /* AddNewTodo.css */
  input {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #FFC107;
    color: white;
    padding: 10px;
    cursor: pointer;
  }